.right{
    padding-top: 12%;
}
.one,.two,.two-meeting{
    width: 40%;
}
.one{
    float: left;
    margin-top: -5%;
}
.two{
    float: right;
    margin-top: -5%;
}
.two-meeting{
    float: right;
    margin-right: 15%;
}

/*New Meeting Inputs */
label.date{
    padding-right: 2%;
    font-size: 16px;
}
label.time{
    padding-right: 2%;
    font-size: 16px;
}
label.title{
    padding-right: 3%;
    font-size: 16px;
}
label.venue{
    font-size: 16px;
}
label.link{
    padding-right: 3%;
    font-size: 16px;
}