* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "sf_pro_displayregular";
  }
.right{
    margin-top: 12%;
}
.one,.two,.two-meeting{
    width: 40%;
}
.one{
    float: left;
    margin-top: -5%;
}
.two{
    float: right;
    margin-top: -5%;
}
.two-meeting{
    float: right;
    margin-right: 15%;
}
