
.fetchedMOMS{
    padding-top: 1.5em;
    border-right: 1px solid lightgray;
    max-height: 85%;
    overflow-y: scroll;
    padding-bottom: 1.5em;
}
.MOM{
    padding: 15px;
    cursor: pointer;
}
.MOM:hover{
    background-color: #ecf5fc;
}
.momdetails{
    padding: 4%;
}
.mompoint{
    list-style-type: circle;
    color: black;
    text-decoration: none;
    line-height: normal;
}