.right{
    margin-top: 10%;
}
.one,.two,.two-meeting{
    width: 40%;
    line-height: 28px;
}
.one{
    float: left;
}
.two{
    float: right;
}
.two-meeting{
    float: right;
    margin-right: 15%;
}
