* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "sf_pro_displayregular";
  }
.right{
    margin-top: 10%;
}
.one,.two,.two-meeting{
    width: 40%;
    line-height: 28px;
}
.one{
    float: left;
    margin-top: -5%;
}
.two{
    float: right;
    margin-top: -5%;
}
.two-meeting{
    float: right;
    margin-right: 15%;
}
.alert {
    text-align: center;
    padding: 10px;
    background: rgb(168, 240, 177);
    color: green;
    margin-bottom: 10px;
    display: none;
  }