* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
  font-family: "sf_pro_displayregular";
}

.right{
  padding-top: 8%;
}
.one,.two,.two-meeting{
  width: 40%;
  line-height: 28px;
}
.one{
  float: left;
  margin-top: -5%;
}
.two{
  float: right;
  margin-top: -5%;
}
.two-meeting{
  float: right;
  margin-right: 15%;
}
.signup-btn {
  width: 300px;
  height: 48px;
  background-color: #0091fb;
  border-radius: 10px;
  border: white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 30%;
  }
.signup-btn:hover{
  cursor: pointer;
}
.alert{
  text-align: center;
  padding: 10px;
  background-color: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}